cchardet==2.1.6
click==7.1.2
hyperframe==6.0.0
blinker==1.4
sortedcontainers==2.3.0
passlib==1.7.4
pyperclip==1.8.1
pyasn1==0.4.8
tornado==6.1
asgiref==3.2.10
ldap3==2.8.1
Flask==1.1.2
h2==4.0.0
zstandard==0.14.1
certifi==2020.6.20
Werkzeug==1.0.1
publicsuffix2==2.20191221
Brotli==1.0.9
pyparsing==2.4.7
wsproto==1.0.0
urwid==2.1.2
dataclasses==0.8
protobuf==3.14.0
psutil==5.8.0
pydivert==2.1.0
pyOpenSSL==20.0.1
ruamel.base==1.0.0
requests==2.24.0
colorama==0.4.4